@use 'base/mixins' as m;
@use 'base/variables' as v;

.header {
    min-height: 60rem;
    background-image: 
        url(../img/grafica.svg), 
        url(../img/grafica.svg), 
        linear-gradient(to right, rgba(v.$negro, 1), rgba(v.$negro, .5)),
        image-set(url(../img/header.avif) 1x, url(../img/header.webp) 1x, url(../img/header.jpg) 1x)
    ;

    &__contenido {
        @include m.contenedor;
    }

    &__navegacion {
        padding: 5rem 0;
        display: flex;
        justify-content: center;
        gap: 2rem;

        @include m.tablet {
            justify-content: flex-end;
        }
    }

    &__enlace {
        color: v.$blanco;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: v.$bold;

        &:hover {
            color: v.$azul;
        }
    }

    &__contenido {
        padding-top: 10rem;

        @include m.tablet {
            padding-top: 5rem;
        }
    }

    &__logo {
        @include m.texto-fluido(2rem, 8rem);
    }
}